
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
        :root{
            --main: #0081C9;
            --secondary :#5BC0F8;
            --third : #86E5FF;
            --fourth :#F2FA5A;
            --txt: #000;
            
        }
        *{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        body{
            background-color: var(--main);
        }
        main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        section{
            width: 400px;
            background-color: var(--secondary);
            text-align: center;
            border-radius: 5px;
            min-height: 300px;
            gap: 30px;
            padding: 20px;
        }
        button.addTask{
            background-color: var(--fourth);
            border: none;
            padding: 10px 20px;
            color: var(--txt);
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }
        button.addTask:hover{
            outline: 2px solid var(--fourth);
            background-color: transparent;
        }
        #inputField{
            border: 1px solid var(--fourth);
            border-radius: 5px;
            padding: 10px ;
            width: 70%;
            background-color: var(--third);
            margin-right: 20px;
            color: var(--txt);
            outline: none;
        }
        h1{
            color: var(--txt);
            font-size: 3em;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .parent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* width: 100%; */
            margin: 10px 0;
            /* border-bottom: 1px solid #000; */
            padding: 10px 0;
        }
        .remove{
            padding: 5px 10px;
            background-color: var(--third);
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        .remove:hover{

            background-color: var(--main);
        }

        .newTask{
            color: var(--txt);
            font-size: 1.2em;
            word-wrap: break-word;
            width: 70%;
            text-align: start;
            text-transform: capitalize;
        }
        .checkbox{
            appearance: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: 2Px solid var(--fourth);
            background-color: var(--third);
            border-radius: 5px;
        }
        
        .checkbox:checked{
            background-color: var(--fourth);
        }
